<header class="main-header">
    <div class="header-container">

        {% if lang == 'en' %}
            <div class="brand">
                <a href="/index">TT SOLUTIONS</a>
            </div>
        {% else %}
            <div class="brand">
                <a href="/index">TT SOLUÇÕES</a>
            </div>
        {% endif %}

        <div class="language-switch">
        <img src="{{ url_for('static', filename='images/br-flag.png') }}" alt="Português" class="flag" onclick="setLanguage('pt')">
        <img src="{{ url_for('static', filename='images/us-flag.png') }}" alt="English" class="flag" onclick="setLanguage('en')">
        </div>

        <nav class="main-nav">
            <ul>
                {% if lang == 'en' %}
                <li><a href="/detalhes_pre_diagnostico" title="Take the Pre-diagnosis">Pre-diagnosis</a></li>
                <li><a href="/feedback" title="Take the Feedback">Feedbacks</a></li>
                {% if current_user.is_authenticated %}
                    {% if session.user.cargo == 'admin' %}
                        <li>
                            <a href="/pre_diagnostico_detalhes" class="nav-link">
                                <i class="fas fa-users-cog"></i> Manage Pre-diagnoses
                            </a>
                        </li>
                        <li>
                            <a href="/ver_feedback" class="nav-link">
                                <i class="fas fa-users-cog"></i> Manage Feedbacks
                            </a>
                        </li>
                        <li>
                            <a href="/suporte_gerencia" class="nav-link">
                                <i class="fas fa-users-cog"></i> Manage support
                            </a>
                        </li>
                        <li>
                            <a href="/usuarios" class="nav-link">
                                <i class="fas fa-users-cog"></i> Manage users
                            </a>
                        </li>
                    {% endif %}
                    <li><a href="/projetos_gerencia" title="Take the projects">Projects</a></li>
                    <li><a href="/suporte" title="Take the support">Support</a></li>
                    <li><a href="/perfil" title="Take the my account">Account</a></li>
                    <li><a href="/logout" title="Exit to the system">Logout</a></li>
                {% else %}
                    
                    <li><a href="/login" title="Sigin to system">Login</a></li>
                {% endif %}
            {% else %}
                <li><a href="/detalhes_pre_diagnostico" title="Realizar o Pré diagnóstico">Pré diagnóstico</a></li>
                <li><a href="/feedback" title="Realizar um Feedback">Feedbacks</a></li>
                {% if current_user.is_authenticated %}
                    {% if session.user.cargo == 'admin' %}
                        <li>
                            <a href="/pre_diagnostico_detalhes" class="nav-link">
                                <i class="fas fa-users-cog"></i> Gerenciar Pré Diagnósticos
                            </a>
                        <li>
                            <a href="/ver_feedback" class="nav-link">
                                <i class="fas fa-users-cog"></i> Gerenciar Feedbacks
                            </a>
                        </li>
                        <li>
                            <a href="/suporte_gerencia" class="nav-link">
                                <i class="fas fa-users-cog"></i> Gerenciar Suporte
                            </a>
                        </li>
                        </li>
                        <li>
                            <a href="/usuarios" class="nav-link">
                                <i class="fas fa-users-cog"></i> Gerenciar Usuários
                            </a>
                        </li>
                    {% endif %}
                    <li><a href="/projetos_gerencia" title="Ir para projetos">Projetos</a></li>
                    <li><a href="/suporte" title="Ir para suporte">Suporte</a></li>
                    <li><a href="/perfil" title="Ir para perfil do sistema">Perfil</a></li>
                    <li><a href="/logout" title="Deslogar do sistema">Sair</a></li>
                {% else %}
                    
                    <li><a href="/login" title="Realizar Login">Login</a></li>
                {% endif %}
                {% endif %}
        </nav>

        <!-- header-intro fora do bloco de navegação -->
        <div class="header-intro">
            {% if lang == 'en' %}
                {% if current_user.is_authenticated %}
                    <h2 class="dashboard-title">Hello, {{ session.user.username }} 👋</h2>
                    <p class="dashboard-subtext">Welcome to the TT_SOLUTIONS.</p>
                {% else %}
                    <h2 class="public-title">Sign in for more features</h2>
                    <p class="public-subtext">Create an account or log in to get full access to the system.</p>
                {% endif %}
            {% else %}
                {% if current_user.is_authenticated %}
                    <h2 class="dashboard-title">Olá, {{ session.user.username }} 👋</h2>
                    <p class="dashboard-subtext">Seja bem-vindo de volta à plataforma da TT_SOLUCOES.</p>
                {% else %}
                    <h2 class="public-title">Entre para mais recursos</h2>
                    <p class="public-subtext">Crie uma conta ou faça login para ter acesso completo ao sistema.</p>
                {% endif %}
            {% endif %}
        </div>

    </div>
</header>