<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if pagination %}
        <div class="table-pagination">
            {{ pagination.links }}
        </div>
    {% endif %}
</div>