{% extends "base.html" %}

{% block title %}Suporte{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/suporte.css') }}">

{% endblock %}

{% block content %}
<div class="suporte-container">
    <div class="chat-header">
        <h2>Central de Suporte</h2>
        <p>Usuário: {{ users.username }} | Empresa: {{ empresa }} | ID do usuário: {{ users.id }}</p>
        <button id="toggle-chat-list" class="toggle-chat-list">
            <svg class="icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
            </svg>
            <span>Outras conversas</span>
        </button>   
    </div>

    <div class="chat-layout">
        <div class="chat-list">
            <button id="nova-conversa-btn">+ Nova Conversa</button>
            <div class="conversas-container" id="conversas-container"></div>
        </div>

        <!-- Área do chat -->
        <div class="chat-area">
            <div class="chat-box" id="chat-box"></div>
            <form id="chat-form" class="chat-form">
                <input type="text" id="chat-input" placeholder="Digite sua mensagem..." required>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/modules/suporte.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/chat_toggle.js') }}"></script>

{% endblock %}