{% extends "base.html" %}
{% import 'macros/forms.jinja2' as forms %}

{% block title %}Feedback{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/clientes_publicos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/clientes_privado.css') }}">
{% endblock %}

{% block content %}

<h1 class="text-center mb-2">Feedback dos Clientes</h1>

<!-- FEEDBACKS -->
<div class="feedback-grid mt-2">
    {% for f in feedback %}
    <div class="feedback-card">
        <div class="feedback-header">{{ f.nome }} - Nota: {{ f.nota_satisfacao }}</div>
        <div class="feedback-date">{{ f.data_envio.strftime('%d/%m/%Y %H:%M') }}</div>
        <div class="feedback-body">"{{ f.comentario }}"</div>
    </div>
    {% endfor %}
</div>

<h1 class="text-center mb-2">Forneça seu feedback</h1>

<div class="main-content">
  <form id="feedback-form">
      {{ forms.render_field(form.nome) }}
      {{ forms.render_field(form.email) }}
      {{ forms.render_field(form.nota_satisfacao, class="input-number", placeholder="Nota de 1 a 5") }}
      {{ forms.render_field(form.comentario, placeholder="Escreva seu comentário") }}
      {{ forms.render_submit('Enviar Feedback') }}
  </form>

  <div id="mensagem-feedback" class="mt-2"></div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/modules/clientes_publicos.js') }}"></script>
{% endblock %}
