{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}


{% block content %}

{% set title_hero = "TT SOLUÇÕES" %}
{% set subtitle_hero = "Transformação técnico-digital para empresas que ainda fazem milagre com planilha." %}
{% set actions_hero = [
    {'url': '/saiba_mais', 'class': 'btn btn-zero', 'label': 'Saiba mais', 'title': 'Tenha mais informações da TT Soluções'}
] %}
{% include 'components/hero-card.html' %}


<section class="access-options">
    <div class="grid-layout">

        {% with icon='user-plus', title='Primeiro Acesso', description='Novo por aqui? Crie sua conta e comece a usar hoje mesmo.', actions=[
            {'url': '/register', 'class': 'btn btn-primary', 'label': 'Criar Conta'},
            {'url': '/saiba_mais', 'class': 'btn-primary', 'label': 'Saiba mais'}
        ] %}
            {% include 'components/card-access.html' %}
        {% endwith %}

        {% with icon='user-check', title='Usuário Veterano', description='Já tem uma conta? Faça login para acessar seus dados.', actions=[
            {'url': '/login', 'class': 'btn btn-secondary', 'label': 'Acessar Sistema'},
            {'url': '/recovery', 'class': 'btn-secondary', 'label': 'Recuperar acesso'}
        ] %}
            {% include 'components/card-access.html' %}
        {% endwith %}

    </div>
</section>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/modules/home.js') }}"></script>
{% endblock %}
