{% extends "base.html" %}
{% from 'macros/services_macro.jinja2' import render_services %}
{% from 'macros/clients_macro.jinja2' import render_clients %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/servicos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/clientes.css') }}">

{% endblock %}


{% block content %}

{% set title_hero = "TT SOLUÇÕES" %}
{% set subtitle_hero = "Transformação técnico-digital para empresas que ainda fazem milagre com planilha." %}
{% set actions_hero = [
    {'url': '/saiba_mais', 'class': 'btn btn-zero', 'label': 'Saiba mais', 'title': 'Tenha mais informações da TT Soluções'},
    {'url': '/detalhes_pre_diagnostico', 'class': 'btn btn-zero', 'label': 'Pré diagnóstico', 'title': 'Realize o pré diagnóstico gratuito'}
] %}
{% include 'components/hero-card.html' %}

{% include 'components/hero_institutional.html' %}

<section id="servicos" class="servicos-home mt-2">
  <h2 class="text-center">Nossos Serviços</h2>
  <p class="text-center mb-2">Soluções para transformar o trabalho das PMEs com método, processo e agilidade.</p>

  <div class="servicos-grid">
    <div class="servico">Pré-diagnóstico gratuito</div>
    <div class="servico">Diagnóstico técnico detalhado</div>
    <div class="servico">Execução de soluções digitais</div>
    <div class="servico">Capacitação da equipe</div>
    <div class="servico">Suporte técnico recorrente</div>
  </div>
</section>

<section id="clientes-atendidos" class="main-content mt-2">
  <h2 class="text-center">Projetos finalizados</h2>
  <div class="clientes-grid">
    <div class="cliente-card">
      <img src="{{ url_for('static', filename='images/clientes/gjguadalupe.png') }}" alt="GJGuadalupe">
      <p>Site institucional e sistema de gestão de eventos</p>
    </div>
    <div class="cliente-card">
      <img src="{{ url_for('static', filename='images/clientes/extractrfb.png') }}" alt="ExtractRFB">
      <p>Plataforma de geração de leads com filtros para PJ</p>
    </div>
  </div>
</section>

<!-- 
<section class="access-options">
    <div class="grid-layout">

        {% with icon='user-plus', title='Primeiro Acesso', description='Novo por aqui? Crie sua conta e comece a usar hoje mesmo.', actions=[
            {'url': '/register', 'class': 'btn btn-primary', 'label': 'Criar Conta'},
            {'url': '/saiba_mais', 'class': 'btn-primary', 'label': 'Saiba mais'}
        ] %}
            {% include 'components/card-access.html' %}
        {% endwith %}

        {% with icon='user-check', title='Usuário Veterano', description='Já tem uma conta? Faça login para acessar seus dados.', actions=[
            {'url': '/login', 'class': 'btn btn-secondary', 'label': 'Acessar Sistema'},
            {'url': '/recovery', 'class': 'btn-secondary', 'label': 'Recuperar acesso'}
        ] %}
            {% include 'components/card-access.html' %}
        {% endwith %}

    </div>
</section> -->

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/modules/home.js') }}"></script>
{% endblock %}
